.Navigate {
    position: relative;
}
 
.ui.button.Navigate-right-button {
    float: right;
    margin: 0px;
}
 
.Navigate-page-num {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	    font-size: 27px;
}